.ArticleDetails {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.avatar {
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-top: 20px;
}

.articleInfo {
    display: flex;

    svg {
        margin-right: 10px;
    }
}