.Text {
  margin: 0;
}

.title {
    font-size: var(--font-size-l);
    color: var(--primary-color);
    margin: 10px 0;
  }

.text {
    font-size: var(--font-size-m);
    color: var(--secondary-color);
    margin: 0;
  }

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-light);
  }
}